DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=dashboard_db
JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=supersecretrefreshkey
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
PORT=4000
